<div class="d-flex align-items-center justify-content-between" >
  <h1> <%= @task.title%> </h1>
  <%= link_to "<i class='fa-solid fa-pen'></i> Edit this task".html_safe, edit_task_path, class:'btn btn-light border' %>
</div>

<div class="alert alert-secondary">
  <%= @task.details %>
</div>

<div class="d-flex">
  <input type="checkbox" class="form-check-input me-2" <%=@task.completed ? 'checked': 'unchecked' %> disabled>
  <% if @task.completed %>
    <p>This task is completed! </p>
  <% else %>
    <p>This task is not completed now</p>
  <% end %>
</div>


<%= render "link_back"%>
